<%= content_tag( 'p', @regnal_year.display_dates ) %>

<%= content_tag( 'p', "In the #{link_to( 'reign', reign_show_url( :reign => @regnal_year.reign_id) )} of #{link_to( @regnal_year.monarch_title, monarch_show_url( :monarch => @regnal_year.monarch_id ) )}.".html_safe ) %>

<div id="session">
	<%= content_tag( 'h2', 'Sessions' ) %>
	<table>
		<%= render :partial => 'session/session_table_head' %>
		<tbody>
			<%= render :partial => 'session/session', :collection => @sessions %>
		</tbody>
	</table>
</div>