<%= content_tag( 'p', @session.display_dates ) %>

<%= previous_next( 'session', @previous_url, @next_url ) %>

<table class="table key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Parliament' ) %>
			<%= content_tag( 'td', link_to( @session.parliament_period_number.ordinalize, parliament_period_show_url( :parliament_period => @session.parliament_period_id ) ) ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Citation by calendar years' ) %>
			<%= content_tag( 'td', @session.calendar_years_citation ) %>
		</tr>
		<tr>
			<%= content_tag( 'td', 'Citation by regnal years' ) %>
			<%= content_tag( 'td', @session.regnal_years_citation ) %>
		</tr>
		<% if @session.wikidata_id -%>
			<tr>
				<%= content_tag( 'td', 'Wikidata ID' ) %>
				<%= content_tag( 'td', link_to( @session.wikidata_id, "https://www.wikidata.org/wiki/#{@session.wikidata_id}" ) ) %>
			</tr>
		<% end -%>
	</tbody>
</table>

<div id="regnal-years">
	<%= content_tag( 'h2', 'Regnal years' ) %>
	<div class="overflow-auto">
		<table class="table">
			<%= render :partial => 'regnal_year/regnal_year_table_header' %>
			<tbody>
				<%= render :partial => 'regnal_year/regnal_year', :collection => @regnal_years %>
			</tbody>
		</table>
	</div>
</div>