<%= content_tag( 'p', @session.display_dates ) %>
<%= content_tag( 'p', "Citation: #{@session.citation}" ) %>
<%= content_tag( 'p', "Parliament: #{link_to( @session.parliament_period_number.ordinalize, parliament_period_show_url( :parliament_period => @session.parliament_period_id ) )}".html_safe ) %>

<div id="regnal-years">
	<%= content_tag( 'h2', 'Regnal years' ) %>
	<table>
		<%= render :partial => 'regnal_year/regnal_year_table_header' %>
		<tbody>
			<%= render :partial => 'regnal_year/regnal_year', :collection => @regnal_years %>
		</tbody>
	</table>
</div>