<%= content_tag( 'p', @monarch.display_dates ) %>
<%= content_tag( 'p', "Wikidata ID: #{link_to( @monarch.wikidata_id, "https://www.wikidata.org/wiki/#{@monarch.wikidata_id}" )}".html_safe ) %>

<div id="reigns">
	<%= content_tag( 'h2', 'Reigns' ) %>
	<div class="overflow-auto">
		<table class="table">
			<%= render :partial => 'reign/reign_table_header' %>
			<tbody>
				<%= render :partial => 'reign/reign', :collection => @monarch.reigns %>
			</tbody>
		</table>
	</div>
</div>

<div id="regnal-years">
	<%= content_tag( 'h2', 'Regnal years' ) %>
	<div class="overflow-auto">
		<table class="table">
			<%= render :partial => 'regnal_year/regnal_year_table_header' %>
			<tbody>
				<%= render :partial => 'regnal_year/regnal_year', :collection => @monarch.regnal_years %>
			</tbody>
		</table>
	</div>
</div>