<%= content_tag( 'p', @monarch.display_dates ) %>

<table class="table key-value">
	<tbody>
		<%= content_tag( 'td', 'Wikidata ID' ) %>
		<%= content_tag( 'td', link_to( @monarch.wikidata_id, "https://www.wikidata.org/wiki/#{@monarch.wikidata_id}" ) ) %>
	</tbody>
</table>

<div id="reigns">
	<%= content_tag( 'h2', 'Reigns' ) %>
	
	<% @csv_url = monarch_reign_list_url( :format => 'csv' ) -%>
	<%= render :partial => 'library_design/feeds/feeds' %>
	
	<div class="overflow-auto margin-top-10">
		<table class="table">
			<%= render :partial => 'reign/reign_table_header' %>
			<tbody>
				<%= render :partial => 'reign/reign', :collection => @reigns %>
			</tbody>
		</table>
	</div>
</div>

<div id="regnal-years">
	<%= content_tag( 'h2', 'Regnal years' ) %>
	
	<% @csv_url = monarch_regnal_year_list_url( :format => 'csv' ) -%>
	<%= render :partial => 'library_design/feeds/feeds' %>
	
	<div class="overflow-auto margin-top-10">
		<table class="table">
			<%= render :partial => 'regnal_year/regnal_year_table_header' %>
			<tbody>
				<%= render :partial => 'regnal_year/regnal_year', :collection => @regnal_years %>
			</tbody>
		</table>
	</div>
</div>