<%= content_tag( 'p', @parliament_period.display_dates ) %>

<%= previous_next( 'Parliament', @previous_url, @next_url ) %>

<table class="table key-value">
	<tbody>
		<tr>
			<%= content_tag( 'td', 'Wikidata ID' ) %>
			<%= content_tag( 'td', link_to( @parliament_period.wikidata_id, "https://www.wikidata.org/wiki/#{@parliament_period.wikidata_id}" ) ) %>
		</tr>
	</tbody>
</table>

<div id="sessions">
	<%= content_tag( 'h2', 'Sessions' ) %>
	
	<%= render :partial => 'library_design/feeds/feeds' %>
	
	<div class="overflow-auto">
		<table class="table">
			<%= render :partial => 'session_table_head' %>
			<tbody>
				<%= render :partial => 'session/session_without_parliament_period', :collection => @sessions %>
			</tbody>
		</table>
	</div>
</div>