<!DOCTYPE html>
<html>
	<head>
		<%= content_tag( 'title', "Regnal years - #{@page_title}" ) %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<h1><%= @page_title || 'Regnal years' %></h1>
		<%= yield %>
	</body>
</html>
