<!DOCTYPE html>
<html lang="en-GB">
<meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width">
    <style>
      body {
        max-width: 80ch;
        padding: 1em;
        line-height: 1.4;
        font-size: 1.2em;
        margin: auto;
        font-family: system-ui;
      }
      h1 {font-weight: normal;}
      
      table {
  border-collapse: collapse;
  width:100%;
}
      td {padding:0.5em 0.25em;}
      tr {border-bottom:thin dotted gray;}
    </style>
    <title><%= @page_title || 'Regnal years' %></title>
	<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<header>
			<%= link_to( 'UK regnal year citation generator', home_url ) %> &mdash; powered by House of Commons librarians
		</header>
		<main>
			<h1><%= @page_title || 'Regnal years' %></h1>
			<%= yield %>
		</main>
		<footer>
			<nav>
				<p>
					<%= link_to( 'Parliaments', parliament_period_list_url )  %>
-
					<%= link_to( 'Sessions', session_list_url )  %>
-
					<%= link_to( 'Regnal years', regnal_year_list_url )  %>
-
					<%= link_to( 'Reigns', reign_list_url )  %>
-
					<%= link_to( 'Monarchs', monarch_list_url )  %>
				</p>
			</nav>
		</footer>
	</body>
</html>
