<!DOCTYPE html>
<html>
	<head>
		<%= content_tag( 'title', "Regnal years - #{@page_title}" ) %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
	</head>
	<body>
		<header>
			<%= link_to( 'UK regnal year citation generator', home_url ) %> &mdash; powered by House of Commons librarians</p>
		</header>
		<main>
			<h1><%= @page_title || 'Regnal years' %></h1>
			<%= yield %>
		</main>
		<footer>
			<nav>
				<p>
					<%= link_to( 'Parliaments', parliament_period_list_url )  %>
					&bullet;
					<%= link_to( 'Sessions', session_list_url )  %>
					&bullet;
					<%= link_to( 'Monarchs', monarch_list_url )  %>
					&bullet;
					<%= link_to( 'Reigns', reign_list_url )  %>
					&bullet;
					<%= link_to( 'Regnal years', regnal_year_list_url )  %>
				</p>
			</nav>
		</footer>
	</body>
</html>
